blinker
camelot-py
cffi
chardet
charset-normalizer
click
colorama
cryptography
et-xmlfile
Flask
ghostscript
itsdangerous
Jinja2
MarkupSafe
numpy
opencv-python
openpyxl
pandas
pdfminer.six
pycparser
PyMuPDF
pypdf
python-dateutil
pytz
six
tabulate
tzdata
Werkzeug